* {
    user-select: none;
    scroll-behavior: smooth;
  }
  
  
  .topBtn {
    position: fixed;
    bottom: 4rem;
    right: 1rem;
    display: flex;
    transition: .2s;
  }

  .bottomBtn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    transition: .2s;
  }
  